{% extends "pages/_base.html" %}
{% block name %}Troubleshooting{% endblock %}
{% block content %}
<p>This page should help you if you are experiencing problems with the election site.</p>
<p>
    The most fiddly part of submitting your vote in an election is probably the part where you
    need to enter the code from the nationstates site. I have tried to make this as simple as possible
    but it can still sometimes be a little confusing. Essentially, you need to do the following:
    <ol>
        <li>
            Click the "get code" button on the voting page. Note that on some devices this button is sometimes
            hard to see; it is to the right of the "enter code" box.
        </li>
        <li>
            Copy the code in the box from the NationStates site that pops up. Notes:
            <ul>
                <li>
                    You need to be logged in on NationStates as the nation you are voting as. (This
                    is the nation you chose above the get code box).
                </li>
                <li>
                    This code will change every time you vote, so there is no point in writing it down anywhere
                </li>
            </ul>
        </li>
        <li>
            Close the popup box
        </li>
        <li>
            Paste the code you copied earlier into the box that says "enter code here".
        </li>
        <li>
            Fill out the rest of the form, and click submit.
        </li>
    </ol>
    If you are still having problems after this, please contact your administrator.
</p>
{% endblock %}
