{% extends "base.html" %}
{% block heading %}
<h1 class="title">Login</h1>
{% endblock %}
{% block title %}Admin Login{% endblock %}
{% block main %}
<p>
  This login form is for administrators who want to manage elections. You do NOT need to login if
  you just want to vote!
</p>
<form method=POST>
  <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input name=username class="input" type="text">
    </div>
  </div>
  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input name=password class="input" type="password">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link">Login</button>
    </div>
  </div>
</form>
{% endblock %}
