{% extends "base.html" %}
{% block title %}New For/Against election{% endblock %}
{% block heading %}
<h1 class="title">New For/Against election</h1>
{% endblock %}
{% block main %}
<div class="content">
  <p>A for/against election has two options, namely For and Against.</p>
  <p>Voters may vote for either of these options.</p>
</div>
<form method=POST>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input name=name class="input" type="text">
    </div>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <textarea type=text name=desc class="textarea"></textarea>
    </div>
  </div>
  <label class="label">Start</label>
  <div class="field has-addons">
    <div class="control">
      <input name=start_date class="input" type="date">
    </div>
    <div class="control">
      <input name=start_time class="input" type="time">
    </div>
  </div>
  <label class="label">End</label>
  <div class="field has-addons">
    <div class="control">
      <input name=end_date class="input" type="date">
    </div>
    <div class="control">
      <input name=end_time class="input" type="time">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
</form>
{% endblock %}